@import "tailwindcss";
@import "tw-shimmer";

@layer base {
  code {
    background-color: #f3f4f6;
    padding: 0.2rem 0.4rem;
    border-radius: 0.25rem;
    font-family: monospace;
  }
  ul {
    margin-left: 30px;
  }
  li {
    list-style-type: disc;
  }
  table {
    border-collapse: separate;
    border-spacing: 30px 0;
  }
  th {
    font-size: 16px;
    font-weight: 600;
  }
  td {
    text-align: center;
    padding: 20px;
  }
}

:root {
  background-color: white;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Course Level Question */

.level-header,
.question-header {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 2rem;
}

.level-sub-header,
.question-sub-header {
  text-align: start;
  font-size: 1rem;
  margin: 30px 0 20px 0;
  font-weight: 650;
}

.level-content,
.question-content {
  margin: 20px 0;
  font-size: 0.9rem;
}

.question-content ul {
  margin: 0;
}
.question-content li {
  border: 1px solid #dedede;
  border-radius: 10px;
  list-style-type: none;
  padding: 16px;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.question-content li:hover {
  background-color: #ebebeb;
  list-style-type: none;
}

.level-code-input,
.question-code-input,
.question-input {
  width: 100%;
  margin: 20px 0;
  border-radius: 10px;
  background-color: #323232;
  color: white;
  padding: 15px;
  font-size: .9rem;
}

@media (min-width: 1024px) {
  .level-header,
  .question-header {
    font-size: 4rem;
  }
  .level-sub-header,
  .question-sub-header {
    font-size: 2rem;
  }
  .level-content,
  .question-content,
  .question-content li,
  .level-code-input,
  .question-code-input,
  .question-input {
    font-size: 1rem;
  }
}
