@import "tailwindcss";

@layer base {
  code {
    background-color: #f3f4f6;
    padding: 0.2rem 0.4rem;
    border-radius: 0.25rem;
    font-family: monospace;
  }
  ul{
    margin-left: 30px;
  }
  li{
    list-style-type: disc;
  }
  table{
    border-collapse: separate;
    border-spacing: 30px 0;
  }
  th{
    font-size: 16px;
    font-weight: 600;
  }
  td{
    text-align: center;
    padding: 20px;
  }
}

:root {
  background-color: white;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Course Level Question */

.level-header, .question-header{
  text-align: center;
  font-size: 4rem;
}

.level-sub-header, .question-sub-header{
  text-align: start;
  font-size: 2rem;
  margin: 30px 0 20px 0;
  font-weight: 650;
}

.level-content, .question-content{
  margin: 20px 0;
}

.question-content ul{
  margin: 0;
}
.question-content li{
  border: 1px solid #DEDEDE;
  border-radius: 10px;
  list-style-type: none;
  padding: 16px;
  cursor: pointer;
  margin-top: 1rem;
}

.question-content li:hover{
  background-color: #ebebeb;
  list-style-type: none;
}


.level-code-input, .question-code-input, .question-input{
  width: 100%;
  margin: 20px 0;
  border-radius: 10px;
  background-color: #323232;
  color: white;
  padding: 15px;
}