@import "tailwindcss";

@layer base {
  code {
    background-color: #f3f4f6;
    padding: 0.2rem 0.4rem;
    border-radius: 0.25rem;
    font-family: monospace;
  }
  ul{
    margin-left: 30px;
  }
  li{
    list-style-type: disc;
  }
  table{
    border-collapse: separate;
    border-spacing: 30px 0;
  }
  th{
    font-size: 16px;
    font-weight: 600;
  }
  td{
    text-align: center;
    padding: 20px;
  }
}

:root {
  background-color: white;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.level-header{
  text-align: center;
  font-size: 4rem;
}

.level-sub-header{
  text-align: start;
  font-size: 2rem;
  margin: 30px 0 20px 0;
  font-weight: 650;
}

.level-content{
  margin: 20px 0;
}

.level-code-input{
  border-radius: 10px;
  background-color: #323232;
  color: white;
  padding: 15px;
}